 
body {
  background-color: hsl(60, 100%, 80%);
  min-height: 20000px;
  overflow: scroll;
}
#Creatorpg {
  font-family: 'Times New Roman';
  text-align: center;
  position: sticky;
  top: 20px;
}

#creatorPG {
  font-family: Gabriola;
  font-size: 80px;
  color: #000;
  text-align: center;
  position: sticky;
  top: 40px;
  text-shadow: 5px 4px #6ae120;
}

#lefta1 {
  font-family: 'Times New Roman';
  position: relative;
  top: 19500px;
  font-size: 30px;
  color: #5F5353;
  float: left;
  animation: u 4s infinite;
}

#righta2 {
  font-family: 'Times New Roman';
  position: relative;
  top: 19500px;
  font-size: 30px;
  color: #5F5353;
  float: right;  
  animation: u 4.1s infinite;
}

#lefta3 {
  font-family: 'Times New Roman';
  position: relative;
  top: 19500px;
  font-size: 30px;
  color: #5F5353;
  float: left;  
  animation: u 4.6s infinite;
}

#righta5 {
  font-family: 'Times New Roman';
  position: relative;
  top: 19500px;
  font-size: 30px;
  color: #5F5353;
  float: right;  
  animation: u 4.8s infinite;
}

#righta4 {
  font-family: 'Times New Roman';
  position: relative;
  top: 19500px;
  font-size: 30px;
  color: #5F5353;
  float: right;  
  animation: u 4.2s infinite;
}


#lefta6 {
  font-family: 'Times New Roman';
  position: relative;
  top: 19500px;
  font-size: 30px;
  color: #5F5353;
  float: left;  
  animation: u 5s infinite;
}

#lefta7 {
  font-family: 'Times New Roman';
  position: relative;
  top: 19500px;
  font-size: 30px;
  color: #5F5353;
  float: left;
  animation: u 4.3s infinite;
}

#sercetA {
  font-family: 'Times New Roman';
  position: relative;
  top: 19500px;
  font-size: 30px;
  color: #5A5353;
  float: right;
  animation: u 4.9s infinite;
}

#all-as {
  display: inline-block;
}

@keyframes u {
    0% {
        transform: translate(0, 0) rotate(0deg) scale(1, 1);
    }
    50% {
        transform: translate(0, -1000px) rotate(360deg) scale(1, 4.6); 
    }
    100% {
        transform: translate(0, 0) rotate(0deg) scale(1, 1);
    }
}
