* {
  font-family: "Courier New", monospace;
  color: maroon;
}
body {
  background-color: lightblue;
}

#Indexpage {
  margin: 0 auto;
  text-align: center;
}

#WebsiteIntro {
  border: 3px dotted green;
  border-radius: 25px;
  padding: 4px;
  width: 460px;
  margin: 0 auto;
  color: #AC2222;
}

#Img1 {
  border: 3px double green;
}
 
*:hover {
  color: purple !important;
}


