* {
  font-family: "Courier New", monospace;
  color: maroon;
}
body {
  margin: 20px;
  background-color: lightblue;
}

#WebsiteIntro {
  border: 1px dotted green;
  border-radius: 25px;
  padding: 25px;
  background-color: yellow
}
 
*:hover {
  color: purple !important;
}


