* {
  font-family: "Courier New", monospace;
  color: maroon;
}
body {
  background-color: lightblue;
}

#Indexpage {
  margin: 0 auto;
  text-align: center;
  background-color: grey;
  width: 1000px;
  height: 1100px;
  min-width: 200px;
  max-width: 2000px;
}

#WebsiteIntro {
  border: 3px dotted green;
  border-radius: 25px;
  padding: 4px;
  width: 460px;
  margin: 0 auto;
  color: #AC2222;
}

#Img1 {
  border: 14px double #0EC316;
  margin: 0 auto;
  width: 740px;
  height: 530px;
  text-align: center;
}
 
*:hover {
  color: purple !important;
}

#vid1 {
  border: 13px inset lightgreen;
  width: 620px;
  height: 400px;
  margin: 0px auto;
  text-align: center;
}

#vid1bottomtext {
  margin: 0 auto;
  text-align: center;
  padding-top: 50px;
}
