body {
  background-image: image532.png;
  overflowX: hidden;
}
#secretattackshrimp {
  display: inline-block;
  animation: min3slideattack 1s forwards;
}
@keyframes min3slideattack {
  0% {transform: translate(8000px, 0);}
  100% {transform: translate(0, 0)}
}
