body {
  overflowX: hidden;
}
#secretattackshrimp {
  display: inline-block;
  animation: min3slideattack 60s forwards;
}
@keyframes min3slideattack {
  0% {transform: translate(3000px, 0);}
  100% {transform: translate(0, 0)}
}
